<style type="text/css">


p{
    color:green;
    font-family: sans-serif;
    font-size: 13;
    text-align: center;
}

h1{
    color: green;
    text-align: center;
}
img{
    background-size: 25px 25px;
}
a:hover{
    color: brown;
}
.test-class {
    color: blueviolet;
}
.position-test{
    float: right;
    border: 3px solid red;
}
.position-test{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}

@media screen and (max-width: 400px) {
    body {
        background-color: purple;
    }
}
.gradient{
    width: 500px;
    height: 500px;
    background-color: blanchedalmond;
    background: repeating-linear-gradient(45deg, rgba(255, 192, 203, 0.25) ,rgba(255, 255, 0.50)  ),
                repeating-linear-gradient(-45deg, rgb(255, 255, 0,.25) , rgb(255, 255, 0,.25) 5px, yellow 5px, yellow 10px);
    background-size: 100px 100px ;
}
.background-style{
    width: 500px;
    height: 500px;
    background-color: palegoldenrod;
    background-image:
    repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
      rgba(143, 77, 63, 0.25) 10px),
repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
      rgba(143, 77, 63, 0.25) 10px);
background-size: 100px 500px;
}
